.blocks{
    background-color: rgba(0, 0, 0, 0.877);
    height: 1000vh;
    width: 100%;
    color: white;
}

.layout{
    background-color: blue;
    height: 100%;
    width: 100%;
}

.container{
    height: 100%;
    width: 100%;
    display: flex;
    column-gap: .2rem;
}

.chartContainer{
    height: 100%;
    width: 100%;
} 